tap "homebrew/bundle"
tap "buo/cask-upgrade"
brew "chezmoi"
brew "starship"
brew "antidote"
brew "eza"
brew "fzf"
brew "bat"
brew "gnupg"
brew "pinentry-mac"
brew "mise"
brew "coreutils"
brew "git-interactive-rebase-tool"
brew "whalebrew"

cask "font-meslo-lg-nerd-font"
cask "visual-studio-code"
cask "brave-browser"
cask "firefox"

cask "iterm2"
cask "intellij-idea"
cask "spotify"

cask "handbrake"

vscode "EditorConfig.EditorConfig"
vscode "dbaeumer.vscode-eslint"
vscode "SanaAjani.taskrunnercode"
vscode "donjayamanne.githistory"

#Need to manually install whalebrew images (env config not picked up for some reason)
#whalebrew "whalebrew/graphviz"

##########################################
# manual installation required (install with priviledges)
##########################################
#cask "raycast"
#cask "hiddenbar"
#https://cordlessdog.com/stay/