tap "homebrew/bundle"
tap "buo/cask-upgrade"
brew "chezmoi"
brew "mas"
brew "starship"
brew "antidote"
brew "eza"
brew "fzf"
brew "bat"
brew "gnupg"
brew "pinentry-mac"
brew "mise"
brew "coreutils"
brew "git-interactive-rebase-tool"
brew "whalebrew"
brew "podman"
brew "podman-compose"
brew "qpdf"

cask "font-meslo-lg-nerd-font"
cask "visual-studio-code"
cask "brave-browser"
cask "firefox"
#cask "podman-desktop"

cask "iterm2"
cask "intellij-idea"
cask "spotify"

cask "handbrake"

vscode "EditorConfig.EditorConfig"
vscode "dbaeumer.vscode-eslint"
vscode "SanaAjani.taskrunnercode"
vscode "donjayamanne.githistory"
vscode "ms-azuretools.vscode-docker"

#Need to manually install whalebrew images (env config not picked up for some reason)
#whalebrew "whalebrew/graphviz"

# Mas installation did not work for some reason
#mas "Finanzguru", id: 1214803607

####################################################################################
# Brew packages which require special priviledges (install manually otherwise)
####################################################################################
{{ if .isPriviledged }}
cask "raycast"
cask "hiddenbar"
cask "protonvpn"
{{ else }}
# https://www.raycast.com/
# https://github.com/dwarvesf/hidden
# https://protonvpn.com/download-macos
{{ end }}

####################################################################################
# Non-brew packages
####################################################################################
# https://cordlessdog.com/stay/

####################################################################################
# App Store
####################################################################################
# https://apps.apple.com/de/app/finanzguru-konten-vertr%C3%A4ge/id1214803607